@import './../jspm_packages/npm/pragma-views@0.0.68/scss/style.scss';
@import './../jspm_packages/npm/pragma-views@0.0.68/scss/desktop.scss';

.action {
  height: 2rem;
  width: 8rem;
}

.breadcrumb {
  background: blue;
  display: inline-block;
}