@import './../jspm_packages/npm/pragma-views@0.0.70/scss/style.scss';
@import './../jspm_packages/npm/pragma-views@0.0.70/scss/desktop.scss';

.action, .back {
  height: 2rem;
  width: 8rem;
}

.breadcrumb {
  display: inline-block;
}

.back {
  color: white;
  background: $secondary-background;
  border-radius: $border-radius;
}