<template>
    <require from="./../../../../styles/views/main.css"></require>

    <div class="md-layout">
        <div class="toolbar">
            <pragma-options-toolbar dropdown-items.bind="toolbarItems" selected-id.two-way="toolbarSelectedId">
                <div slot="items">
                    <icon name="search"></icon>
                    <input type="search" value.bind="searchText"/>

                    <button repeat.for="item of breadcrumb" click.delegate="crumbSelected(item)">${item.name}</button>
                </div>
            </pragma-options-toolbar>
        </div>

        <div class="body">
            <master-detail is-master-visible="true">
                <div slot="master">
                    <h3>${model.itemsDescription}</h3>
                    <ul selectable="selected-id.two-way: selectedId; multi: false" role="list">
                        <li repeat.for="item of items" data-id="${item.id}" class="card" role="listitem">
                            <pragma-template html.bind="listTemplate" data-item.bind="item"></pragma-template>
                        </li>
                    </ul>
                </div>

                <div slot="detail">
                    <pragma-form schema.bind="schema" model.two-way="model"></pragma-form>
                </div>
            </master-detail>
        </div>
    </div>
</template>